@keyframes scale-up {
  0% {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
@keyframes shadow-inset-center {
  0% {
    box-shadow: inset 0 0 0 0 transparent;
  }
  to {
    box-shadow: inset 0 0 14px 0 rgb(0 0 0/50%);
  }
}
.pngtree-abstract-gradient-crys-icon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 675px;
  height: 1117px;
  object-fit: cover;
}
.greenchain-removebg-preview-1-icon2,
.picture1-1-icon2 {
  position: absolute;
  top: 118px;
  left: 53px;
  width: 500px;
  height: 500px;
  object-fit: cover;
}
.picture1-1-icon2 {
  top: 618px;
  left: 66px;
  width: 474px;
  height: 239px;
}
.login-page-child {
  position: absolute;
  top: 53px;
  left: 675px;
  border-radius: var(--br-111xl);
  background: linear-gradient(134.55deg, #b9fec4, rgba(249, 236, 224, 0));
  width: 1032px;
  height: 1022px;
}
.forgot-password,
.login1 {
  position: absolute;
  top: 755px;
  left: 959px;
  font-size: var(--font-size-13xl);
  color: var(--color-midnightblue);
}
.login1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 242px;
  left: 786px;
  font-size: var(--font-size-29xl);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 211px;
  height: 77px;
}
.email-place-holder {
  border: 2px solid var(--color-black);
  background-color: var(--color-lavenderblush);
  position: absolute;
  top: 448px;
  left: 833px;
  border-radius: var(--br-xl);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  width: 641px;
  height: 78px;
}
.email {
  position: absolute;
  top: 388px;
  left: 847px;
}
.password-place-holder {
  border: 2px solid var(--color-black);
  background-color: transparent;
  position: absolute;
  top: 652px;
  left: 833px;
  border-radius: var(--br-xl);
  background: linear-gradient(#fff, #fff), #f4e8e8;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  width: 641px;
  height: 78px;
}
.password {
  position: absolute;
  top: 582px;
  left: 835px;
  display: inline-block;
  width: 213px;
  height: 72px;
}
.login-button-hi-1-icon {
  position: absolute;
  top: 852px;
  left: 1004px;
  width: 300px;
  height: 96px;
  object-fit: cover;
  opacity: 1;
  cursor: pointer;
}
.login-button-hi-1-icon.animate {
  animation: 1s ease 0s 1 normal forwards scale-up;
}
.login-button-hi-1-icon:hover {
  box-shadow: 0 4px 4px rgba(254, 0, 0, 0.25);
  animation: 1s ease 0s infinite normal none shadow-inset-center;
  opacity: 1;
}
.login-page {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1117px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
