.group-child18 {
  position: absolute;
  top: 222.5px;
  left: 1755px;
  background: linear-gradient(180deg, #c6ffd2, rgba(198, 255, 210, 0));
  backdrop-filter: blur(4px);
  width: 1728px;
  height: 142px;
  transform: rotate(-179.98deg);
  transform-origin: 0 0;
}
.group-child19 {
  position: absolute;
  top: 0;
  left: 27px;
  width: 329px;
  height: 153px;
  object-fit: cover;
  mix-blend-mode: normal;
}
.home6 {
  position: absolute;
  top: 104px;
  left: 80px;
}
.rectangle-parent13 {
  position: absolute;
  top: 0;
  left: 0;
  width: 329px;
  height: 273px;
  cursor: pointer;
}
.group-child20,
.leaderboard2 {
  position: absolute;
  top: 94px;
  left: 0;
}
.group-child20 {
  top: 0;
  left: 116px;
  width: 140px;
  height: 140px;
  object-fit: cover;
  mix-blend-mode: normal;
}
.leaderboard-group {
  position: absolute;
  top: 0;
  left: 507px;
  width: 372px;
  height: 263px;
  cursor: pointer;
}
.group-child21 {
  position: absolute;
  top: 0;
  left: 0;
  width: 362px;
  height: 149px;
  object-fit: cover;
  mix-blend-mode: normal;
}
.scan6 {
  position: absolute;
  top: 94px;
  left: 109px;
}
.rectangle-parent14 {
  position: absolute;
  top: 0;
  left: 1393px;
  width: 362px;
  height: 263px;
  cursor: pointer;
}
.group-child22 {
  position: absolute;
  top: 0;
  left: 0;
  width: 351px;
  height: 140px;
  object-fit: cover;
  mix-blend-mode: normal;
}
.redeem2 {
  position: absolute;
  top: 94px;
  left: 52px;
}
.rectangle-parent15 {
  position: absolute;
  top: 0;
  left: 1004px;
  width: 351px;
  height: 263px;
  cursor: pointer;
}
.rectangle-parent12 {
  position: absolute;
  top: 897px;
  left: -27px;
  width: 1755px;
  height: 273px;
  font-size: var(--font-size-61xl);
}
.component-1-child4 {
  position: absolute;
  height: 62.56%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 37.44%;
  left: 0;
  background: linear-gradient(180deg, #c6ffd2, rgba(198, 255, 210, 0));
  backdrop-filter: blur(4px);
}
.free-dollar-coin-icon-2139-thu6,
.icon16 {
  position: absolute;
  height: 54.63%;
  width: 7%;
  top: 16.74%;
  right: 89.18%;
  bottom: 28.63%;
  left: 3.82%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.free-dollar-coin-icon-2139-thu6 {
  width: 7.12%;
  top: 7.93%;
  right: 11.17%;
  bottom: 37.44%;
  left: 81.71%;
}
.div12 {
  position: absolute;
  top: 18.5%;
  left: 89.47%;
}
.picture1-2-icon8 {
  position: absolute;
  height: 100%;
  width: 18.81%;
  top: 0;
  right: 40.45%;
  bottom: 0;
  left: 40.74%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.yelahanka-bengaluru-karnataka-container6 {
  position: absolute;
  top: 51.98%;
  left: 13.83%;
  font-size: var(--font-size-xl);
}
.address-icon6 {
  position: absolute;
  height: 19.82%;
  width: 3.13%;
  top: 53.3%;
  right: 86.52%;
  bottom: 26.87%;
  left: 10.36%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.div13 {
  position: absolute;
  top: 26.87%;
  left: 11.92%;
  font-size: var(--font-size-21xl);
}
.component-16 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.deepu6 {
  position: absolute;
  height: 22.91%;
  width: 7.41%;
  top: 7.05%;
  left: 11.4%;
  font-size: var(--font-size-21xl);
  display: inline-block;
  -webkit-text-stroke: 1px #000;
}
.component-41 {
  position: absolute;
  top: 0;
  left: -12px;
  width: 1728px;
  height: 227px;
  font-family: var(--font-inter);
}
.macbook-pro-16-9-child,
.macbook-pro-16-9-item {
  position: absolute;
  top: 217px;
  border-radius: var(--br-11xl);
  width: 354px;
  height: 573px;
}
.macbook-pro-16-9-child {
  left: 73px;
  background-color: var(--color-gainsboro);
}
.macbook-pro-16-9-item {
  left: 76px;
  object-fit: cover;
}
.free-dollar-coin-icon-2139-thu8 {
  position: absolute;
  height: 46.15%;
  width: 43.81%;
  top: 26.63%;
  right: 56.19%;
  bottom: 27.22%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.div16 {
  position: absolute;
  top: 0;
  left: 112px;
}
.free-dollar-coin-icon-2139-thu-parent {
  position: absolute;
  height: 15.13%;
  width: 13.08%;
  top: 66.79%;
  right: 82.52%;
  bottom: 18.08%;
  left: 4.4%;
  font-size: var(--font-size-61xl);
}
.macbook-pro-16-9-inner {
  position: absolute;
  top: 224px;
  left: 900px;
  background-color: var(--color-gainsboro);
  width: 647px;
  height: 673px;
}
.blank-line {
  margin: 0;
}
.cultivated-flower-garden-container {
  position: absolute;
  top: 217px;
  left: 917px;
  font-size: var(--font-size-21xl);
  display: inline-block;
  width: 630px;
  height: 680px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.garden-rose {
  position: absolute;
  top: 192px;
  left: 977px;
  color: red;
  -webkit-text-stroke: 9px #a5bf6d;
}
.buy,
.macbook-pro-16-9-child1 {
  position: absolute;
  width: 321px;
  height: 101px;
}
.macbook-pro-16-9-child1 {
  top: 595px;
  left: 523px;
  background-color: var(--color-gainsboro);
}
.buy {
  top: 545px;
  left: 606px;
  font-size: 96px;
  display: inline-block;
}
.macbook-pro-16-9 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1117px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-45xl);
  color: var(--color-black);
  font-family: var(--font-nats);
}
