.group-child23 {
  position: absolute;
  top: 222.5px;
  left: 1755px;
  background: linear-gradient(180deg, #c6ffd2, rgba(198, 255, 210, 0));
  backdrop-filter: blur(4px);
  width: 1728px;
  height: 142px;
  transform: rotate(-179.98deg);
  transform-origin: 0 0;
}
.group-child24,
.home7 {
  position: absolute;
  cursor: pointer;
}
.group-child24 {
  top: 0;
  left: 23px;
  width: 329px;
  height: 153px;
  object-fit: cover;
  mix-blend-mode: normal;
}
.home7 {
  top: 104px;
  left: 80px;
}
.rectangle-parent16 {
  position: absolute;
  top: 891px;
  left: -23px;
  width: 1755px;
  height: 273px;
}
.group-child25,
.leaderboard3 {
  position: absolute;
  top: 94px;
  left: 0;
}
.group-child25 {
  top: 0;
  left: 116px;
  width: 140px;
  height: 140px;
  object-fit: cover;
  mix-blend-mode: normal;
}
.leaderboard-container {
  position: absolute;
  top: 891px;
  left: 484px;
  width: 372px;
  height: 263px;
  cursor: pointer;
}
.group-child26 {
  position: absolute;
  top: 0;
  left: 0;
  width: 362px;
  height: 149px;
  object-fit: cover;
  mix-blend-mode: normal;
}
.scan7 {
  position: absolute;
  top: 94px;
  left: 109px;
}
.rectangle-parent17 {
  position: absolute;
  top: 891px;
  left: 1370px;
  width: 362px;
  height: 263px;
  cursor: pointer;
}
.group-child27 {
  position: absolute;
  top: 0;
  left: 0;
  width: 351px;
  height: 140px;
  object-fit: cover;
  mix-blend-mode: normal;
}
.redeem3 {
  position: absolute;
  top: 94px;
  left: 52px;
}
.rectangle-parent18 {
  position: absolute;
  top: 891px;
  left: 981px;
  width: 351px;
  height: 263px;
}
.component-1-child6 {
  position: absolute;
  height: 62.56%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 37.44%;
  left: 0;
  background: linear-gradient(180deg, #c6ffd2, rgba(198, 255, 210, 0));
  backdrop-filter: blur(4px);
}
.free-dollar-coin-icon-2139-thu9,
.icon18 {
  position: absolute;
  height: 54.63%;
  width: 7%;
  top: 16.74%;
  right: 89.18%;
  bottom: 28.63%;
  left: 3.82%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.free-dollar-coin-icon-2139-thu9 {
  width: 7.12%;
  top: 7.93%;
  right: 11.17%;
  bottom: 37.44%;
  left: 81.71%;
}
.div17 {
  position: absolute;
  top: 18.5%;
  left: 89.47%;
}
.picture1-2-icon10 {
  position: absolute;
  height: 100%;
  width: 18.81%;
  top: 0;
  right: 40.45%;
  bottom: 0;
  left: 40.74%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.yelahanka-bengaluru8 {
  margin: 0;
}
.yelahanka-bengaluru-karnataka-container8 {
  position: absolute;
  top: 51.98%;
  left: 13.83%;
  font-size: var(--font-size-xl);
}
.address-icon8 {
  position: absolute;
  height: 19.82%;
  width: 3.13%;
  top: 53.3%;
  right: 86.52%;
  bottom: 26.87%;
  left: 10.36%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.div18 {
  position: absolute;
  top: 26.87%;
  left: 11.92%;
  font-size: var(--font-size-21xl);
}
.component-18 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.deepu8 {
  position: absolute;
  height: 22.91%;
  width: 7.41%;
  top: 7.05%;
  left: 11.4%;
  font-size: var(--font-size-21xl);
  display: inline-block;
  -webkit-text-stroke: 1px #000;
}
.component-42 {
  position: absolute;
  top: 0;
  left: -12px;
  width: 1728px;
  height: 227px;
  font-size: var(--font-size-45xl);
  font-family: var(--font-inter);
}
.macbook-pro-16-6-child,
.macbook-pro-16-6-item {
  position: absolute;
  top: 217px;
  left: 73px;
  border-radius: var(--br-11xl);
  background-color: var(--color-gainsboro);
  width: 354px;
  height: 573px;
}
.macbook-pro-16-6-item {
  left: 487px;
}
.macbook-pro-16-6-inner {
  left: 894px;
  background-color: var(--color-gainsboro);
}
.macbook-pro-16-6-child1,
.macbook-pro-16-6-child2,
.macbook-pro-16-6-inner {
  position: absolute;
  top: 217px;
  border-radius: var(--br-11xl);
  width: 354px;
  height: 573px;
}
.macbook-pro-16-6-child1 {
  left: 1300px;
  background-color: var(--color-gainsboro);
}
.macbook-pro-16-6-child2 {
  left: 76px;
  object-fit: cover;
  cursor: pointer;
}
.macbook-pro-16-6-child3,
.macbook-pro-16-6-child4,
.macbook-pro-16-6-child5 {
  position: absolute;
  top: 217px;
  left: 487px;
  border-radius: var(--br-11xl);
  width: 354px;
  height: 573px;
  object-fit: cover;
}
.macbook-pro-16-6-child4,
.macbook-pro-16-6-child5 {
  left: 915px;
  width: 315px;
  height: 558px;
}
.macbook-pro-16-6-child5 {
  left: 1300px;
  width: 354px;
  height: 573px;
}
.free-dollar-coin-icon-2139-thu11 {
  position: absolute;
  height: 46.15%;
  width: 43.81%;
  top: 26.63%;
  right: 56.19%;
  bottom: 27.22%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.div21 {
  position: absolute;
  top: 0;
  left: 112px;
}
.free-dollar-coin-icon-2139-thu-group {
  position: absolute;
  height: 15.13%;
  width: 13.08%;
  top: 66.79%;
  right: 82.52%;
  bottom: 18.08%;
  left: 4.4%;
}
.free-dollar-coin-icon-2139-thu12,
.free-dollar-coin-icon-2139-thu13 {
  position: absolute;
  height: 46.15%;
  width: 9.46%;
  top: 26.63%;
  right: 90.54%;
  bottom: 27.22%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.free-dollar-coin-icon-2139-thu13 {
  width: 15.16%;
  right: 84.84%;
}
.div23 {
  position: absolute;
  top: 0;
  left: 126px;
}
.free-dollar-coin-icon-2139-thu14 {
  position: absolute;
  height: 46.15%;
  width: 47.6%;
  top: 26.63%;
  right: 52.4%;
  bottom: 27.22%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.free-dollar-coin-icon-2139-thu-parent1,
.free-dollar-coin-icon-2139-thu-parent2 {
  position: absolute;
  height: 100%;
  width: 31.85%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 68.15%;
}
.free-dollar-coin-icon-2139-thu-parent1 {
  width: 62.37%;
  left: 37.63%;
}
.free-dollar-coin-icon-2139-thu-container {
  position: absolute;
  height: 15.13%;
  width: 60.59%;
  top: 66.79%;
  right: 7.52%;
  bottom: 18.08%;
  left: 31.89%;
}
.macbook-pro-16-6 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1117px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-61xl);
  color: var(--color-black);
  font-family: var(--font-nats);
}
