.group-child28 {
  position: absolute;
  top: 222.5px;
  left: 1755px;
  background: linear-gradient(180deg, #c6ffd2, rgba(198, 255, 210, 0));
  backdrop-filter: blur(4px);
  width: 1728px;
  height: 142px;
  transform: rotate(-179.98deg);
  transform-origin: 0 0;
}
.group-child29 {
  position: absolute;
  top: 0;
  left: 27px;
  width: 329px;
  height: 153px;
  object-fit: cover;
  mix-blend-mode: normal;
}
.home8,
.leaderboard4 {
  position: absolute;
  top: 104px;
  left: 80px;
}
.leaderboard4 {
  top: 94px;
  left: 507px;
}
.group-child30,
.group-child31 {
  position: absolute;
  top: 0;
  left: 623px;
  width: 140px;
  height: 140px;
  object-fit: cover;
  mix-blend-mode: normal;
}
.group-child31 {
  left: 1393px;
  width: 362px;
  height: 149px;
}
.group-child32,
.scan8 {
  position: absolute;
  top: 94px;
  left: 1502px;
}
.group-child32 {
  top: 0;
  left: 1004px;
  width: 351px;
  height: 140px;
  object-fit: cover;
  mix-blend-mode: normal;
}
.redeem4 {
  position: absolute;
  top: 94px;
  left: 1056px;
}
.rectangle-parent19 {
  position: absolute;
  top: 897px;
  left: -27px;
  width: 1755px;
  height: 273px;
  font-size: var(--font-size-61xl);
  font-family: var(--font-nats);
}
.inshot-20231123-203429437-1-icon {
  position: absolute;
  top: 197px;
  left: 1084px;
  width: 487px;
  height: 633px;
  object-fit: cover;
}
.component-1-child8 {
  position: absolute;
  height: 62.56%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 37.44%;
  left: 0;
  background: linear-gradient(180deg, #c6ffd2, rgba(198, 255, 210, 0));
  backdrop-filter: blur(4px);
}
.free-dollar-coin-icon-2139-thu15,
.icon20 {
  position: absolute;
  height: 54.63%;
  width: 7%;
  top: 16.74%;
  right: 89.18%;
  bottom: 28.63%;
  left: 3.82%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.free-dollar-coin-icon-2139-thu15 {
  width: 7.12%;
  top: 7.93%;
  right: 11.17%;
  bottom: 37.44%;
  left: 81.71%;
}
.div25 {
  position: absolute;
  top: 18.5%;
  left: 89.47%;
}
.picture1-2-icon12 {
  position: absolute;
  height: 100%;
  width: 18.81%;
  top: 0;
  right: 40.45%;
  bottom: 0;
  left: 40.74%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.yelahanka-bengaluru10 {
  margin: 0;
}
.yelahanka-bengaluru-karnataka-container10 {
  position: absolute;
  top: 51.98%;
  left: 13.83%;
  font-size: var(--font-size-xl);
}
.address-icon10 {
  position: absolute;
  height: 19.82%;
  width: 3.13%;
  top: 53.3%;
  right: 86.52%;
  bottom: 26.87%;
  left: 10.36%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.div26 {
  position: absolute;
  top: 26.87%;
  left: 11.92%;
  font-size: var(--font-size-21xl);
}
.component-110 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.deepu10 {
  position: absolute;
  height: 22.91%;
  width: 7.41%;
  top: 7.05%;
  left: 11.4%;
  font-size: var(--font-size-21xl);
  display: inline-block;
  -webkit-text-stroke: 1px #000;
}
.component-43 {
  position: absolute;
  top: 0;
  left: -12px;
  width: 1728px;
  height: 227px;
}
.home9,
.rectangle-parent21 {
  position: absolute;
  top: 104px;
  left: 80px;
  cursor: pointer;
}
.rectangle-parent21 {
  top: 0;
  left: 0;
  width: 329px;
  height: 273px;
}
.group-child35,
.leaderboard5 {
  position: absolute;
  top: 94px;
  left: 0;
}
.group-child35 {
  top: 0;
  left: 116px;
  width: 140px;
  height: 140px;
  object-fit: cover;
  mix-blend-mode: normal;
}
.leaderboard-parent1 {
  position: absolute;
  top: 0;
  left: 507px;
  width: 372px;
  height: 263px;
  cursor: pointer;
}
.group-child36 {
  position: absolute;
  top: 0;
  left: 0;
  width: 362px;
  height: 149px;
  object-fit: cover;
  mix-blend-mode: normal;
}
.scan9 {
  position: absolute;
  top: 94px;
  left: 109px;
}
.rectangle-parent22 {
  position: absolute;
  top: 0;
  left: 1393px;
  width: 362px;
  height: 263px;
  cursor: pointer;
}
.group-child37 {
  position: absolute;
  top: 0;
  left: 0;
  width: 351px;
  height: 140px;
  object-fit: cover;
  mix-blend-mode: normal;
}
.redeem5 {
  position: absolute;
  top: 94px;
  left: 52px;
}
.rectangle-parent23 {
  position: absolute;
  top: 0;
  left: 1004px;
  width: 351px;
  height: 263px;
  cursor: pointer;
}
.real-time-monitoring {
  position: absolute;
  top: 266px;
  left: 269px;
  display: inline-block;
  width: 659px;
  height: 77px;
  -webkit-text-stroke: 1px #000;
}
.macbook-pro-16-4-child {
  position: absolute;
  top: 558px;
  left: 285px;
  border-radius: 25px;
  background-color: #ea6060;
  width: 511px;
  height: 83px;
}
.cancel-request {
  position: absolute;
  top: 558px;
  left: 303px;
  -webkit-text-stroke: 2px #000;
  cursor: pointer;
}
.macbook-pro-16-4 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1117px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-45xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
