.group-child8 {
  position: absolute;
  top: 222.5px;
  left: 1755px;
  background: linear-gradient(180deg, #c6ffd2, rgba(198, 255, 210, 0));
  backdrop-filter: blur(4px);
  width: 1728px;
  height: 142px;
  transform: rotate(-179.98deg);
  transform-origin: 0 0;
}
.group-child9 {
  position: absolute;
  top: 0;
  left: 27px;
  width: 329px;
  height: 153px;
  object-fit: cover;
  mix-blend-mode: normal;
}
.home4,
.leaderboard {
  position: absolute;
  top: 104px;
  left: 80px;
}
.leaderboard {
  top: 94px;
  left: 507px;
}
.group-child10,
.group-child11 {
  position: absolute;
  top: 0;
  left: 623px;
  width: 140px;
  height: 140px;
  object-fit: cover;
  mix-blend-mode: normal;
}
.group-child11 {
  left: 1393px;
  width: 362px;
  height: 149px;
}
.group-child12,
.scan4 {
  position: absolute;
  top: 94px;
  left: 1502px;
}
.group-child12 {
  top: 0;
  left: 1004px;
  width: 351px;
  height: 140px;
  object-fit: cover;
  mix-blend-mode: normal;
}
.redeem {
  position: absolute;
  top: 94px;
  left: 1056px;
}
.rectangle-parent7 {
  position: absolute;
  top: 897px;
  left: -27px;
  width: 1755px;
  height: 273px;
}
.component-1-child2 {
  position: absolute;
  height: 62.56%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 37.44%;
  left: 0;
  background: linear-gradient(180deg, #c6ffd2, rgba(198, 255, 210, 0));
  backdrop-filter: blur(4px);
}
.free-dollar-coin-icon-2139-thu4,
.icon14 {
  position: absolute;
  height: 54.63%;
  width: 7%;
  top: 16.74%;
  right: 89.18%;
  bottom: 28.63%;
  left: 3.82%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.free-dollar-coin-icon-2139-thu4 {
  width: 7.12%;
  top: 7.93%;
  right: 11.17%;
  bottom: 37.44%;
  left: 81.71%;
}
.div8 {
  position: absolute;
  top: 18.5%;
  left: 89.47%;
}
.picture1-2-icon6 {
  position: absolute;
  height: 100%;
  width: 18.81%;
  top: 0;
  right: 40.45%;
  bottom: 0;
  left: 40.74%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.yelahanka-bengaluru4 {
  margin: 0;
}
.yelahanka-bengaluru-karnataka-container4 {
  position: absolute;
  top: 51.98%;
  left: 13.83%;
  font-size: var(--font-size-xl);
}
.address-icon4 {
  position: absolute;
  height: 19.82%;
  width: 3.13%;
  top: 53.3%;
  right: 86.52%;
  bottom: 26.87%;
  left: 10.36%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.div9 {
  position: absolute;
  top: 26.87%;
  left: 11.92%;
  font-size: var(--font-size-21xl);
}
.component-14 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.deepu4 {
  position: absolute;
  height: 22.91%;
  width: 7.41%;
  top: 7.05%;
  left: 11.4%;
  font-size: var(--font-size-21xl);
  display: inline-block;
  -webkit-text-stroke: 1px #000;
}
.component-4 {
  position: absolute;
  top: 0;
  left: -12px;
  width: 1728px;
  height: 227px;
  font-size: var(--font-size-45xl);
  font-family: var(--font-inter);
}
.rectangle-parent9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 329px;
  height: 273px;
  cursor: pointer;
}
.group-child15,
.leaderboard1 {
  position: absolute;
  top: 94px;
  left: 0;
}
.group-child15 {
  top: 0;
  left: 116px;
  width: 140px;
  height: 140px;
  object-fit: cover;
  mix-blend-mode: normal;
}
.leaderboard-parent {
  position: absolute;
  top: 0;
  left: 507px;
  width: 372px;
  height: 263px;
  cursor: pointer;
}
.group-child16 {
  position: absolute;
  top: 0;
  left: 0;
  width: 362px;
  height: 149px;
  object-fit: cover;
  mix-blend-mode: normal;
}
.scan5 {
  position: absolute;
  top: 94px;
  left: 109px;
}
.group-child17,
.rectangle-parent10 {
  position: absolute;
  top: 0;
  left: 1393px;
  width: 362px;
  height: 263px;
}
.group-child17 {
  left: 0;
  width: 351px;
  height: 140px;
  object-fit: cover;
  mix-blend-mode: normal;
}
.redeem1 {
  position: absolute;
  top: 94px;
  left: 52px;
}
.rectangle-parent11 {
  position: absolute;
  top: 0;
  left: 1004px;
  width: 351px;
  height: 263px;
  cursor: pointer;
}
.austin-powers-1-icon {
  position: absolute;
  top: 205px;
  left: 138px;
  width: 528px;
  height: 667px;
  object-fit: cover;
}
.kisspng-waste-management-smart-icon {
  position: absolute;
  top: 215px;
  left: 692px;
  width: 1011px;
  height: 554px;
  object-fit: cover;
}
.for-sustainable-tomorrow {
  position: absolute;
  top: 665px;
  left: 780px;
}
.macbook-pro-16-7 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1117px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-61xl);
  color: var(--color-black);
  font-family: var(--font-nats);
}
