.group-child3,
.macbook-pro-16-11-child {
  position: absolute;
  top: 1117.5px;
  left: 1728px;
  background: linear-gradient(180deg, #c6ffd2, rgba(198, 255, 210, 0));
  backdrop-filter: blur(4px);
  width: 1728px;
  height: 142px;
  transform: rotate(-179.98deg);
  transform-origin: 0 0;
}
.group-child3 {
  top: 222.5px;
}
.group-child4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 329px;
  height: 153px;
  object-fit: cover;
  mix-blend-mode: normal;
}
.home2 {
  position: absolute;
  top: 101px;
  left: 76px;
}
.rectangle-parent3 {
  position: absolute;
  top: 3px;
  left: 22px;
  width: 329px;
  height: 270px;
  cursor: pointer;
}
.feedback3 {
  position: absolute;
  top: 0;
  left: 0;
}
.feedback-wrapper {
  position: absolute;
  top: 107px;
  left: 531px;
  width: 285px;
  height: 169px;
  cursor: pointer;
}
.group-child5,
.icon8 {
  position: absolute;
  object-fit: cover;
}
.icon8 {
  top: 6px;
  left: 599px;
  width: 150px;
  height: 148px;
  cursor: pointer;
}
.group-child5 {
  top: 0;
  left: 0;
  width: 362px;
  height: 149px;
  mix-blend-mode: normal;
}
.scan2 {
  position: absolute;
  top: 104px;
  left: 110px;
}
.rectangle-parent4 {
  position: absolute;
  top: 0;
  left: 1294px;
  width: 362px;
  height: 273px;
  cursor: pointer;
}
.rectangle-parent2 {
  position: absolute;
  top: 854px;
  left: 3px;
  width: 1728px;
  height: 276px;
  font-size: var(--font-size-61xl);
}
.component-1-inner {
  position: absolute;
  height: 62.56%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 37.44%;
  left: 0;
  background: linear-gradient(180deg, #c6ffd2, rgba(198, 255, 210, 0));
  backdrop-filter: blur(4px);
}
.free-dollar-coin-icon-2139-thu2,
.icon9 {
  position: absolute;
  height: 54.63%;
  width: 7%;
  top: 16.74%;
  right: 89.18%;
  bottom: 28.63%;
  left: 3.82%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.free-dollar-coin-icon-2139-thu2 {
  width: 7.12%;
  top: 7.93%;
  right: 11.17%;
  bottom: 37.44%;
  left: 81.71%;
  display: none;
}
.div4 {
  position: absolute;
  top: 18.5%;
  left: 89.47%;
  display: none;
}
.picture1-2-icon3 {
  position: absolute;
  height: 100%;
  width: 18.81%;
  top: 0;
  right: 40.45%;
  bottom: 0;
  left: 40.74%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.yelahanka-bengaluru2 {
  margin: 0;
}
.yelahanka-bengaluru-karnataka-container2 {
  position: absolute;
  top: 51.98%;
  left: 13.83%;
  font-size: var(--font-size-xl);
}
.address-icon2 {
  position: absolute;
  height: 19.82%;
  width: 3.13%;
  top: 53.3%;
  right: 86.52%;
  bottom: 26.87%;
  left: 10.36%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.div5 {
  position: absolute;
  top: 26.87%;
  left: 11.92%;
  font-size: var(--font-size-21xl);
}
.component-12 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.deepu2 {
  position: absolute;
  height: 22.91%;
  width: 7.41%;
  top: 7.05%;
  left: 11.4%;
  font-size: var(--font-size-21xl);
  display: none;
  -webkit-text-stroke: 1px #000;
}
.component-32 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1728px;
  height: 227px;
  font-size: var(--font-size-45xl);
  font-family: var(--font-inter);
}
.macbook-pro-16-11-item {
  position: absolute;
  top: 212px;
  left: 0;
  background: linear-gradient(
    180deg,
    #fcffeb,
    #fffbeb 0.01%,
    rgba(255, 251, 235, 0)
  );
  width: 999px;
  height: 630px;
}
.disposal2,
.icon10 {
  position: absolute;
  top: 104px;
  left: 0;
}
.icon10 {
  top: 0;
  left: 30px;
  width: 152px;
  height: 159px;
  object-fit: cover;
}
.disposal-container,
.disposal-destiny-partners {
  position: absolute;
  font-size: var(--font-size-61xl);
}
.disposal-container {
  top: 854px;
  left: 999px;
  width: 246px;
  height: 273px;
}
.disposal-destiny-partners {
  top: 200px;
  left: 50px;
}
.macbook-pro-16-11-child1,
.macbook-pro-16-11-child2,
.macbook-pro-16-11-child3,
.macbook-pro-16-11-child4,
.macbook-pro-16-11-inner {
  position: absolute;
  top: 358px;
  left: 66px;
  border-radius: var(--br-sm);
  background-color: var(--color-aliceblue);
  width: 805px;
  height: 58px;
}
.macbook-pro-16-11-child1,
.macbook-pro-16-11-child2,
.macbook-pro-16-11-child3,
.macbook-pro-16-11-child4 {
  top: 761px;
}
.macbook-pro-16-11-child2,
.macbook-pro-16-11-child3,
.macbook-pro-16-11-child4 {
  top: 667px;
}
.macbook-pro-16-11-child3,
.macbook-pro-16-11-child4 {
  top: 554px;
}
.macbook-pro-16-11-child4 {
  top: 456px;
}
.span {
  font-size: var(--font-size-61xl);
}
.e-waste-treasure-ltd,
.green-trek-rd-container {
  position: absolute;
  top: 295px;
  left: 111px;
}
.e-waste-treasure-ltd {
  top: 739px;
}
.span1 {
  font-size: var(--font-size-41xl);
}
.organicenergy-ltd-organic-container {
  position: absolute;
  top: 603px;
  left: 111px;
}
.adarsh2,
.hi-fi-energy-pvt,
.waste2energy-ltd {
  position: absolute;
  top: 527px;
  left: 112px;
}
.adarsh2,
.hi-fi-energy-pvt {
  top: 434px;
}
.adarsh2 {
  top: 20px;
  left: 200px;
  font-size: var(--font-size-41xl);
}
.oig-3-1 {
  position: absolute;
  top: 295px;
  left: 968px;
  border-radius: var(--br-61xl);
  width: 666px;
  height: 538px;
  object-fit: cover;
}
.macbook-pro-16-11 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1117px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-black);
  font-family: var(--font-nats);
}
